{% extends "Bil/base.html" %}
{% block 1%}
    <div class="card m-4">
      <div class="card-body">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
        <h6>{{post.author}} </h6>
          <p>tags:
              {% for tag in post.tags.all%}
              <a href="{% url 'post_list' tag.slug %}">{{tag.slug}}</a>
              {% if not forloop.last %}, {% endif %}
              {% endfor %}
        <p>{{post.created}}</p>
      </div>
</div>
<h3 class="m-2">Comments</h3>
{% for comment in comments%}
    <div class="card m-4">
      <div class="card-body">
        <h2> {{ comment.username}}</h2>
        <p> {{ comment.text}}</p>
      </div>
    </div>
{% endfor %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" >
    </form>
</div>
{% endblock %}

